%p#notice= notice

%p
  %b Name:
  = @quiz.name
  - @quiz.questions.to_enum.with_index(1) do |q, i|

    = "Question #{i}"
    %br
    = q.content
    %br
    = "Answer for #{i}"
    %br
    = q.answer.content

= link_to 'Edit', edit_quiz_path(@quiz)
\|
= link_to 'Back', quizzes_path
