%p#notice= notice

%h2.title
  = @blog.title
%p
  / = @blog.content
  / = raw Pygments.highlight(@blog.content)
  / = simple_format @blog.content
  = markdown @blog.content

= link_to 'Edit', edit_blog_path(@blog)
\|
= link_to 'Back', blogs_path
